*{
    
    font-family: Helvetica,Arial, sans-serif;
}

body{
width: 940px;
   margin: auto;
   
}
.header{
    border: none;
}
.titulo{
    padding: 5px;
    background-color: skyblue;
    
    
}
.subtitulo{
    border-color:black; 
    border-bottom: 5px solid;
    
}




.fig{
    text-align: center;
    padding-top: 10px;
}

.matrizdot img{
    width: 100%;
    
   }

.imgfml{
    width: 275px;
    
    
    padding: 12px 12px 16px 12px;
    background-color: #F5F5F5;
    margin: 37px;
    border: solid greenyellow 1px;

    float: right;
}
.imgfml img{
    width: 100%;
    
   }

   .matrizdot{
    margin: auto; 
    width: 550px;
    padding: 10px 10px 13px 10px;
    background-color: #F5F5F5;
    border: solid greenyellow 1px;
        
    }
   .telefone{
       margin-left: 50px;
   }

   


